body {
  text-align: center;
  background-color: rgb(95, 235, 15);
}


button {
  background-color: rgb(38, 0, 255);
  border: 1px,  black;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(24, 54, 54);
}